

make_JAGS_data*
WGBAST_JAGS*
plotfunctions.r
app*

\figures

*.html
*.txt
#*.xlsx
*.csv

.Rproj.user
.Rhistory
.RData
.Ruserdata

*.jpeg
*.png
*.Rproj


01-submodels/Aland
05-results/EggsPerPSPC*
05-results/stats*
04-scenarios/tmp