

run_FLHM*
Inputs_2019_LR_EPR*
ProjEffort_2019_LR_EPR*
make_JAGS_data*
WGBAST_JAGS*
plotfunctions.r
app*
launch*
FLHM*

\figures
\tmp


*.html
*.txt
#*.xlsx
*.csv

.Rproj.user
.Rhistory
.RData
.Ruserdata

*.jpeg
*.png
*.Rproj


01-submodels/Aland
05-results/EggsPerPSPC*
05-results/stats*
04-scenarios/tmp